body {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;


}

#entire-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex: 1;
    flex-basis: 960px;
 


}

.gridBox {
    display: flex;
    background-color: grey;
    outline: solid 5px black;
    height: 50px;
    width: 50px;
    flex-wrap: wrap;

}


.grid-container {
    display: flex;
    justify-content: center;

}

.hovered-grid-box {
    background-color: red;
}

