body {
    display: flex;
    flex-direction: column;




}

.button-container {
    display: flex;
    justify-content: center;


}

#entire-grid-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex: 1;


}


.gridBox {
    display: flex;
    background-color: grey;
    outline: solid black 5px;



}


.grid-container {

    display: flex;
    justify-content: center;
    align-items: center;



}

.hovered-grid-box {
    background-color: red;
}

